.App__appFrame___1XEEj {
  height: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.App__appFrame___1XEEj>* {
  -ms-flex: none;
  flex: none;
}

.App__skipLink___evNAg {
  position: absolute!important;
  top: 0;
  clip: rect(1px,1px,1px,1px)!important;
  clip-path: rect(1px,1px,1px,1px)!important;
  overflow: hidden!important;
  height: 1px!important;
  width: 1px!important;
  padding: 0px!important;
  border: 0px!important;
}.Home__mainContainer___1bT3F {
  visibility: visible;
}

.Home__mainContent___1RcCs {
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
}

.Home__componentsSection___2nig5 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  background-color: #fff;
}

@media (min-width: 84em) {
  .Home__componentsSectionDesktop___1OOJo {
    overflow: hidden;
    border-radius: .6rem;
    box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
  }
}.Footer__footer___yxWuK {
  padding: 3.2rem 2.4rem;
}

/* General */
.Footer__fContainer___zI8XB {
  max-width: 140rem;
  margin-right: auto;
  margin-top: auto;
}

@media (min-width: 48em) {
  .Footer__fContainerBreakPoints___2DpnD {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 60em) {
  .Footer__fContainerBreakPoints___2DpnD {
    position: relative;
    z-index: 700;
    background: linear-gradient(180deg, rgba(244, 246, 248, 0), #f4f6f8 60%);
  }
}

/* Contact */
.Footer__contactContainer___27dVR {
  padding: .8rem 0;
  font-size: 1.4rem;
  color: #161d25;
}

.Footer__contactContainer___27dVR a {
  display: inline-block;
  margin: 0 2.4rem 4rem;
  color: #161d25;
  transition: color .24s cubic-bezier(.64,0,.35,1);
}

.Footer__contactContainer___27dVR a:hover {
  color: #202e78;
}

.Footer__contactContainer___27dVR a:active, .Footer__contactContainer___27dVR a:focus {
  color: #5c6ac4;
}

@media (max-width: 47.99em) {
  .Footer__contactContainer___27dVR {
    margin-bottom: 2.4rem;
    text-align: center;
  }
}

@media (min-width: 48em) {
  .Footer__contactContainer___27dVR {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.6rem;
  }

  .Footer__contactContainer___27dVR a {
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* Social */
.Footer__socialContainer___26Z8u {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.Footer__socialContainer___26Z8u> li {
  flex: 0 0 auto;
}

.Footer__socialContainer___26Z8u> li+li {
  margin-left: 2.4rem;
}

/* Contact */
.Footer__iconContainer___1Q1m1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
}

.Footer__iconContainer___1Q1m1> * {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.Footer__iconContainerBorder___22fkK {
  border: .1rem solid #c4cdd5;
  color: #c4cdd5;
  box-shadow: inset 0 0 0 0.1rem rgba(92,106,196,0), inset 0 0.1rem 0.2rem 0 rgba(196,205,213,.2);
}

a> .Footer__iconContainerBorder___22fkK {
  transition-property: color, border;
  transition-duration: .24s;
  transition-timing-function: cubic-bezier(0.64,0,.35,1);
}

.Footer__iconContainerBorder___22fkK:hover {
  border: 0.1rem solid #202e78;
}

.Footer__iconContainerBorder___22fkK:active, .Footer__iconContainerBorder___22fkK:focus {
  border: 0.1rem solid #5c6ac4;
}

.Footer__iconHolder___2YoXx {
  display: block;
  width: 2rem;
  height: 2rem;
}

.Footer__svgWrapper___1UmNt svg {
  width: 100%;
  height: 100%;
}

.NavMenu__menu___1UiaD {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.NavMenu__menu___1UiaD li {
  background-color: aquamarine;
  margin: 0.5em;
}.Logo2__logoContainer___25xQQ {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid #c4cdd5;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.Logo2__logo___9ktsg {
  width: 3.5rem;
  border-radius: 50%;
}.NavHead__promoBanner___2UohO {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.NavHead__headerContainer___RI7zh {
  display: flex;
  justify-content: space-between;
}.HomeHero__hero___3vHif {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  height: calc(100vh - 7.2rem);
  max-height: 59.6rem;
  padding-bottom: 3.2rem;
  background-color: #000639;
  background-repeat: no-repeat;
  background-position: left 50%;
  background-size: cover;
}

.HomeHero__heroContent___2xsj_ {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: auto;
}

.HomeHero__brandName___2HSnr {
  margin-bottom: .4em;
  font-size: 4.8rem;
  font-weight: 500;
  color: #fff;
}

.HomeHero__description___1HnP4 {
  max-width: 60rem;
  margin-bottom: 1.4em;
  font-size: 1.6em;
  line-height: 1.55;
  color: #454f4b;
  margin-bottom: 1.2em;
  max-width: 32rem;
  font-size: 1.8rem;
  color: hsla(0,0%, 100%,.7);
}

@media (-webkit-max-device-pixel-ratio: 2.99) and (max-width: 41.6775em), (max-resolution: 2.99dppx) and (max-width:41.6775em) {
  .HomeHero__hero___3vHif {
    background-image: url(http://res.cloudinary.com/dqhe5ks7u/image/upload/c_scale,w_826/v1533943216/ClimberTech/Header_Mobile.jpg);
  }
}

@media (min-width: 48em) {
  .HomeHero__hero___3vHif {
    height: 46.8rem;
    background-position-y: top;
  }
}

@media (min-width: 60em) {
  .HomeHero__hero___3vHif {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
}

@media (min-width: 67.5em) {
  .HomeHero__hero___3vHif {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .HomeHero__heroContent___2xsj_ {
    margin-bottom: 7.2rem;
  }
}

@media (min-width: 41.6875em) {
  .HomeHero__hero___3vHif {
    background-image: url(http://res.cloudinary.com/dqhe5ks7u/image/upload/c_scale,w_2688/v1533939376/ClimberTech/Header_Desktop.jpg);
  }
}

@media (max-width: 47.99em) {
  .HomeHero__heroContent___2xsj_ {
    position: relative;
  }
  .HomeHero__heroContent___2xsj_:before {
    content: "";
    display: block;
    float: right;
    width: 100%;
    height: 24rem;
    shape-outside: polygon(100% 0, 0 0, 100% 100%);
    pointer-events: none;
    opacity: 0;
  }
}.HomeIntro__intro___uvU18 {
  /* width: 100%; */
  position: relative;
  margin: 1.5em 0;
  padding: 0 .5em;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
  background-color: aquamarine;
}

.HomeIntro__subtitle___2x_sg {
  float: left;
  position: relative;
  margin: 3em 0 0.5em 0;
  padding: 0 0.5em;
}

.HomeIntro__subtitle___2x_sg h3{
  font-size: 3vw;
}

@media (min-width: 48em) {
  .HomeIntro__intro___uvU18 {
    margin: 2.333em 0;
    padding: 0 2.5em;
  }
}

.HomeIntro__faders___2726Z {
  float: left;
  position: relative;
  margin: 3em 0 0.5em 0;
  padding: 0 0.5em;
  min-width: 20em;
  max-height: 10em;
}

.HomeIntro__faders___2726Z h2 {
  font-size: 10vh;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.HomeIntro__fader1___3fk55, .HomeIntro__fader2___3P53s, .HomeIntro__fader3___38ZML {
  position: absolute;
  width: 100%;
  height: 100%;
}

.HomeIntro__fader1___3fk55 {
  animation: HomeIntro__fade___31ni6 8s infinite;
  -webkit-animation: HomeIntro__fade___31ni6 8s infinite;
}

.HomeIntro__fader2___3P53s {
  animation: HomeIntro__fade2___-IInx 8s infinite;
  -webkit-animation: HomeIntro__fade2___-IInx 8s infinite;
}

.HomeIntro__fader3___38ZML {
  animation: HomeIntro__fade3___3zneY 8s infinite;
  -webkit-animation: HomeIntro__fade3___3zneY 8s infinite;
}

@keyframes HomeIntro__fade___31ni6 {
  0% {opacity: 1}
  33.333% {opacity: 0}
  66.666% {opacity: 0}
  100% {opacity: 1}
}
@keyframes HomeIntro__fade2___-IInx {
  0% {opacity: 0}
  33.333% {opacity: 1}
  66.666% {opacity: 0}
  100% {opacity: 0}
}
@keyframes HomeIntro__fade3___3zneY {
  0% {opacity: 0}
  33.333% {opacity: 0}
  66.666% {opacity: 1}
  100% {opacity: 0}
}.HomeAboutPreviews__container___2e6VQ {
  padding: 3.2rem 2.4rem 4rem;
}


.HomeAboutPreviews__previewList___1MzsY {
  margin-bottom: 4rem;
  border-top: .4rem solid #f4f6f8;
}

/* li */
.HomeAboutPreviews__previewItem___27uqk {
  margin-top: 4.8rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

/* icon */
.HomeAboutPreviews__iconContainer___3BV7b {
  margin-left: -.4rem;
}

.HomeAboutPreviews__iconContainerGeneral___3DNYD {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
}

.HomeAboutPreviews__iconContainerGeneral___3DNYD>* {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media (min-width: 30em) {
  .HomeAboutPreviews__previewList___1MzsY {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .HomeAboutPreviews__previewItem___27uqk {
    max-width: calc((100% - 2.4rem) / 2);
  }
}

@media (min-width: 48em) {
  .HomeAboutPreviews__previewList___1MzsY {
    padding-top: 4rem;
  }
  
  .HomeAboutPreviews__previewItem___27uqk {
    max-width: calc((100% - 9.6rem) / 4);
  }
}

@media (min-width: 60em) {
  .HomeAboutPreviews__container___2e6VQ {
    padding-top: 4rem;
    padding-right: 3.2rem;
    padding-bottom: 4rem;
    padding-left: 3.2rem;
  }
}

@media (min-width: 67.5em) {
  .HomeAboutPreviews__container___2e6VQ {
    padding: 4.8rem 8rem 12.8rem;
  }
  
  .HomeAboutPreviews__previewItem___27uqk {
    max-width: calc((100% - 14.4rem) / 4);
  }
}

@media (min-width: 90em) {
  .HomeAboutPreviews__container___2e6VQ {
    padding-left: 12.8rem;
    padding-right: 12.8rem;
  }
}

.HomeAboutPreviews__iconHolder___2I1GD {
  display: block;
  width: 2rem;
  height: 2rem;
}

.HomeAboutPreviews__svgWrapper___2xx82 svg {
  width: 100%;
  height: 100%;
}

/* title */
.HomeAboutPreviews__titleContainer___8l_pk {
  margin-top: 1.6rem;
  margin-bottom: .8rem;
  font-weight: 700;
  color: #1a222b;
}

.HomeAboutPreviews__title___1y1Ml {
  color: #161d25;
  max-width: 60rem;
  margin-bottom: .8em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.HomeAboutPreviews__title___1y1Ml:last-child {
  margin-bottom: 0;
}

/* summary */
.HomeAboutPreviews__summary___1WME5 {
  max-width: 60rem;
  margin-bottom: 1em;
  line-height: 1.55;
  color: #454f5b;
}

.HomeAboutPreviews__summary___1WME5, .HomeAboutPreviews__redirect___3x1IZ {
  font-size: 1.6rem;
}

.HomeAboutPreviews__redirect___3x1IZ {
  color: #007ace;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  transition: color .24s cubic-bezier(.64,0,.35,1);
  line-height: 1.4;
}
