.mainContainer {
  visibility: visible;
}

.mainContent {
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
}

.componentsSection {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  background-color: #fff;
}

@media (min-width: 84em) {
  .componentsSectionDesktop {
    overflow: hidden;
    border-radius: .6rem;
    box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
  }
}