.intro {
  /* width: 100%; */
  position: relative;
  margin: 1.5em 0;
  padding: 0 .5em;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
  background-color: aquamarine;
}

.subtitle {
  float: left;
  position: relative;
  margin: 3em 0 0.5em 0;
  padding: 0 0.5em;
}

.subtitle h3{
  font-size: 3vw;
}

@media (min-width: 48em) {
  .intro {
    margin: 2.333em 0;
    padding: 0 2.5em;
  }
}

.faders {
  float: left;
  position: relative;
  margin: 3em 0 0.5em 0;
  padding: 0 0.5em;
  min-width: 20em;
  max-height: 10em;
}

.faders h2 {
  font-size: 10vh;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.fader1, .fader2, .fader3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fader1 {
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}

.fader2 {
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}

.fader3 {
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
  0% {opacity: 1}
  33.333% {opacity: 0}
  66.666% {opacity: 0}
  100% {opacity: 1}
}
@keyframes fade2 {
  0% {opacity: 0}
  33.333% {opacity: 1}
  66.666% {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade3 {
  0% {opacity: 0}
  33.333% {opacity: 0}
  66.666% {opacity: 1}
  100% {opacity: 0}
}