.hero {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  height: calc(100vh - 7.2rem);
  max-height: 59.6rem;
  padding-bottom: 3.2rem;
  background-color: #000639;
  background-repeat: no-repeat;
  background-position: left 50%;
  background-size: cover;
}

.heroContent {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: auto;
}

.brandName {
  margin-bottom: .4em;
  font-size: 4.8rem;
  font-weight: 500;
  color: #fff;
}

.description {
  max-width: 60rem;
  margin-bottom: 1.4em;
  font-size: 1.6em;
  line-height: 1.55;
  color: #454f4b;
  margin-bottom: 1.2em;
  max-width: 32rem;
  font-size: 1.8rem;
  color: hsla(0,0%, 100%,.7);
}

@media (-webkit-max-device-pixel-ratio: 2.99) and (max-width: 41.6775em), (max-resolution: 2.99dppx) and (max-width:41.6775em) {
  .hero {
    background-image: url(https://res.cloudinary.com/dqhe5ks7u/image/upload/c_scale,w_826/v1533943216/ClimberTech/Header_Mobile.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 3) and (max-width: 41.6775em), (max-width: 41.6775em) and (min-resolution: 3dppx) {
  .hero {
    background-image: url(https://res.cloudinary.com/dqhe5ks7u/image/upload/c_scale,w_826/v1533943216/ClimberTech/Header_Mobile.jpg);
  }
}

@media (min-width: 48em) {
  .hero {
    height: 46.8rem;
    background-position-y: top;
  }
}

@media (min-width: 60em) {
  .hero {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
}

@media (min-width: 67.5em) {
  .hero {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .heroContent {
    margin-bottom: 7.2rem;
  }
}

@media (min-width: 41.6875em) {
  .hero {
    background-image: url(https://res.cloudinary.com/dqhe5ks7u/image/upload/c_scale,w_2688/v1533939376/ClimberTech/Header_Desktop.jpg);
  }
}

@media (max-width: 47.99em) {
  .heroContent {
    position: relative;
  }
  .heroContent:before {
    content: "";
    display: block;
    float: right;
    width: 100%;
    height: 24rem;
    shape-outside: polygon(100% 0, 0 0, 100% 100%);
    pointer-events: none;
    opacity: 0;
  }
}